:root{
    --princ-bg-color:#013C31;
    --secun-bg-color: #FE7411;
}

@font-face {
    font-family: PoetsenOne;
    src: url(PoetsenOne-Regular.ttf);
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: var(--princ-bg-color);
    margin: 0;

    display: flex;  
}

#textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}

#logos{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 34rem;
    height: 14rem;
    
    gap: 4.5rem;  
}

#logos img{
    height: 15rem;
    width: 11.5rem;
}