:root{
    --princ-bg-color:#013C31;
    --secun-bg-color: #FE7411;
}

@font-face {
    font-family: PoetseOne;
    src: url(PoetsenOne-Regular.ttf);
}

body{
    background-color: var(--princ-bg-color);
}

header{
    display: flex;
    align-items: center;
    height: 100px;
}

.logoDaRoca_header{
    padding-left: 70px;
}

.traco{
    width: 12px;
    height: 2px;
    background: #FFF;
    border-radius: 25%;
    margin-left: 7px;
    margin-right: 2px;
}

ul{
    display: inline-flex;
    align-items: flex-start;
    list-style: none;
    gap: 70px;
    margin-left: 614px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.bt1{
    border-radius: 20px;
    padding: 6px 19px;
}

.bt-login{
    border-radius: 20px;
    border: 2px solid #FFF;
    padding: 6px 21px;
}

.bt-cadastro{
    border-radius: 20px;
    background: var(--princ-bg-color);
    padding: 6px 8px;
}

.retangulo_principal{
    width: 1314px;
    height: 1314px;
    transform: rotate(-60deg);
    border-radius: 59px;
    background-color: var(--secun-bg-color);
    box-shadow: 10px 15px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 620px;
    margin-top: -204px;
    margin-right: -974px;
    margin-bottom: -566px;
}

.conteudo_principal{
    padding-top: 105px;
}

h1{
    margin: 0px;
}

.peca-text{
    color: #FFF;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
    font-family: PoetseOne;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
    padding-right: 84px;
}



.text_principal{
    color: #FFF;
    text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.30);
    font-family: PoetseOne;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
    padding-right: 84px;
}

.frescas-text{
    color: rgba(255, 255, 255, 0.70);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 70px;
    padding-right: 84px;
    padding-top: 32px;
}

.botoes_principal{
    display: flex;
    padding-left: 60px;
    padding-top: 75px;
    gap: 60px;
}

.saiba{
    display: flex;
    width: 146.252px;
    height: 61.176px;
    padding: 8.588px 33.126px;
    justify-content: center;
    align-items: center;
    gap: 12.269px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.403px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.comprar{
    display: flex;
    width: 146.252px;
    height: 61.176px;
    padding: 8.588px 33.126px;
    justify-content: center;
    align-items: center;
    gap: 12.269px;
    border-radius: 26.992px;
    background-color: var(--secun-bg-color);
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.403px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.imgBrocolis{
    width: 186px;
    height: 186px;
    filter: drop-shadow(10px 50px 4px rgba(0, 0, 0, 0.25));
    margin-left: 250px;
    margin-bottom: 658px;
    align-self: flex-end;
}