:root{
    --princ-bg-color:#013C31;
    --secun-bg-color: #FE7411;
    --terci-bg-color: #33635A;
    --quart-bg-color: #CC5D0C;
}

@font-face {
    font-family: PoetsenOne;
    src: url(PoetsenOne-Regular.ttf);
}

body{
    background-color: var(--princ-bg-color);
}

header{
    height: 100px;

    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: var(--secun-bg-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 70px;
    padding-right: 32px;
}

a{
    text-decoration: none;
    color: #FFF;
}

.logos{
    display: flex;
    align-items: center;
    gap: 20px;
}

#logoCoracao_header{
    border-radius: 12px;
}

ul{
    display: flex;
    list-style: none;
    gap: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#bt1{
    border-radius: 20px;
    padding: 6px 19px;
}

#bt2{
    border-radius: 20px;
    padding: 6px 19px;
}

#bt-login{
    border-radius: 20px;
    border: 2px solid #FFF;
    padding: 6px 21px;
}

#bt-cadastro{
    border-radius: 20px;
    background: var(--princ-bg-color);
    padding: 6px 8px;
}

#main{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 146px;
}

#page1{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

#textoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#textoPrincipal h1{
    color: var(--secun-bg-color);

    font-family: PoetsenOne;
    font-size: 64px;
    font-weight: 400;

    margin: 0;
}

#textoPrincipal h2{
    color: rgba(255, 255, 255, 0.80);
    
    font-family: PoetsenOne;
    font-size: 32px;
    font-weight: 400;
    
    margin: 0;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#formulario h1{
    color: #FFF;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#formulario input, textarea{
    border-radius: 15px;
    border: 0 none;
    background-color: #FFF;
    
    margin-top: 9px;
}

.nome-email{
    width: 494px;
    height: 45px;
}

textarea{
    width: 494px;
    height: 161px;  
    
    border-radius: 15px;
    border: 0 none;
    background-color: #FFF;
}

#button-text{
    display: flex;
    align-items: flex-start;
    gap: 20px;

    margin-top: 20px;
}

button{
    height: 60px;
    width: 160px;
    display: flex;
    align-items: center;

    padding: 6px 23px;
    gap: 10px;

    border-radius: 15px;
    border: 0 none;
    background-color: var(--secun-bg-color);

    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

label{
    width: 407px;

    color: #FFF;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#contatosPrincipal{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 28px;
}

#contatosPrincipal h1{
    color: #FFF;

    font-family: PoetsenOne;
    font-size: 32px;
    font-weight: 400;
}

#contatosPrincipal a{
    font-size: 32px;
    font-weight: 400;
}

#contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.icon-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 35px;
}

#preFooter{
    background-color: var(--secun-bg-color);

    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    padding: 81px 392px;
    margin-top: 146px;
}

#preFooter #bt-login, #preFooter #bt-cadastro{
    background-color: #ffffff00;
    border: none;
}

footer{
    background-color: var(--quart-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 90px 28px 107px;
}

footer h2{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
}