:root{
    --princ-bg-color:#013C31;
    --secun-bg-color: #FE7411;
    --terci-bg-color: #33635A;
    --quart-bg-color: #CC5D0C;
}

@font-face {
    font-family: PoetsenOne;
    src: url(PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

body{
    background-color: var(--princ-bg-color);
}

header{
    height: 100px;

    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: var(--secun-bg-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 70px;
    padding-right: 32px;
}

a{
    text-decoration: none;
    color: #FFF;

    font-family: Inter;
}

.logos{
    display: flex;
    align-items: center;
    gap: 20px;
}

#logoCoracao_header{
    border-radius: 12px;
}

ul{
    display: flex;
    list-style: none;
    gap: 70px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
}

#bt1{
    border-radius: 20px;
    padding: 6px 19px;
}

#bt2{
    border-radius: 20px;
    padding: 6px 19px;
}

#bt-login{
    border-radius: 20px;
    border: 2px solid #FFF;
    padding: 6px 21px;
}

#bt-cadastro{
    border-radius: 20px;
    background: var(--princ-bg-color);
    padding: 6px 8px;
}

main{
    display: flex;
    justify-content: center;
}

#main{
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
}

#page1{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 40px;
}

#textoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#textoPrincipal h1{
    color: var(--secun-bg-color);

    font-family: PoetsenOne;
    font-size: 64px;
    font-weight: 400;

    margin: 0;

    width: 666px;
}

#textoPrincipal h2{
    color: rgba(255, 255, 255, 0.80);
    
    font-family: PoetsenOne;
    font-size: 32px;
    font-weight: 400;
    
    margin: 0;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#formulario h1{
    color: #FFF;
    
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form input{
    width: 494px;
    height: 35px;

    border-radius: 15px;
    border: 0 none;
    background-color: #FFF;

    margin-bottom: 10px;

    font-family: Inter;
}

form textarea{
    width: 494px;
    height: 150px;

    border-radius: 15px;
    border: 0 none;
    background-color: #FFF;

    margin-bottom: 10px;

    font-family: Inter;
}

#button-text{
    display: flex;
    align-items: flex-start;
    gap: 21px;
}

form button{    
    padding: 6px 23px;
    gap: 10px;
    width: 113px;
    height: 48px;

    background-color: var(--secun-bg-color);
    border-radius: 15px;
    border: 0 none;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

form label{
    width: 310px;
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

#contatosPrincipal{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 28px;
}

#contatosPrincipal h1{
    color: #FFF;

    font-family: PoetsenOne;
    font-size: 32px;
    font-weight: 400;
}

#contatosPrincipal a{
    font-size: 32px;
    font-weight: 400;
}

#contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.icon-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 35px;
}

#preFooter{
    background-color: var(--secun-bg-color);

    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    padding: 81px 392px;
    margin-top: 146px;
}

#preFooter #bt-login, #preFooter #bt-cadastro{
    background-color: #ffffff00;
    border: none;
}

footer{
    background-color: var(--quart-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 90px 28px 107px;
}

footer h2{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}