:root{
    --princ-bg-color:#013C31;
    --secun-bg-color: #FE7411;
    --terci-bg-color: #33635A;
    --quart-bg-color: #CC5D0C;
    --quint-bg-color: #002A22;
}

@font-face {
    font-family: PoetsenOne;
    src: url(PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

a{
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
}

body{
    background-color: var(--princ-bg-color);
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 21px 32px;

    background-color: var(--secun-bg-color);
    border-radius: 0px 0px 13px 13px;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#logoCoracao_header{
    border-radius: 12px;
}

#searchBar{
    display: flex;
    padding: 7px 17px;
    align-items: center;
    gap: 0px;
}

#searchBar input{
    width: 585px;
    height: 30px;
    background-color: rgba(217, 217, 217, 0.80);
    font-family: Inter;
    border: 0 none;
    border-radius: 9px 0px 0px 9px;
    font-size: 15px;
    font-weight: 600;
}

.carrinho{
    display: flex;
    align-items: flex-end;
    gap: 9px;
}

.carrinho h1{
    font-size: 15px;
    font-weight: 600;
}

main{
    display: flex;
    justify-content: center;
}

#main{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

#categorias{
    display: inline-flex;

    margin: 30px 0 30px 0;
    gap: 20px;
}

#frutas_categoria{
    display: flex;
    width: 90px;
    height: 40px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--quint-bg-color);

    border: 0;

    cursor: pointer;
}

#categorias h1{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}

#vegetais_categoria{
    display: flex;
    height: 40px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--quint-bg-color);

    border: 0;

    cursor: pointer;
}

#legumes_categoria{
    display: flex;
    height: 40px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--quint-bg-color);

    border: 0;

    cursor: pointer;
}

#produtos{
    display: flex;
    width: 1020px;
    align-content: flex-start;
    align-items: flex-start;
    gap: 42px 75px;
    flex-wrap: wrap;
    margin: 0px auto 263px auto;
}

.categ1, .categ2, .categ3{
    width: 270px;
    height: 490px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
}

.categ1, .categ2, .categ3{
    background-color: var(--terci-bg-color);
}

#ponkan, #cereja, #abacate{
    background-color: var(--terci-bg-color);
}

#produtos h1{
    color: #FFF;
    font-family: Inter;
    margin: 0px;
}

#produtos input{
    width: 22px;
    height: 32px;
    display: flex;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    background: #FFF;
    border: 0 none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.dados_produtos{
    display: flex;
    padding: 6px 0px;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.dados_produtos button{
    border: 0 none;
    border-radius: 9px;
    background-color: #FFF;
    display: flex;
    width: 50px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
}

#preFooter{
    background-color: var(--secun-bg-color);
    height: 100px;
    padding: 81px 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#preFooter #bt-login, #preFooter #bt-cadastro{
    background-color: #ffffff00;
    border: none;
}

ul{
    display: flex;
    list-style: none;
    gap: 70px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
}

footer{
    background-color: var(--quart-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 90px 28px 107px;
}

footer h1{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}
