:root{
    --princ-bg-color:#013C31;
    --secun-bg-color: #FE7411;
}

@font-face {
    font-family: PoetsenOne;
    src: url(PoetsenOne-Regular.ttf);
}

body{
    background-color: var(--princ-bg-color);
    
    margin: 0;
    height: 100vh;
}

main{
    padding: 100px;
}

a{
    text-decoration: none;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    padding: 20px 42px;
    justify-content: space-between;
    align-items: center;
}

#logos{
    display: flex;
    align-items: center;
    gap: 21px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

ul a{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    padding: 6px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#bt-login{
    border: 2px solid #FFF;
    border-radius: 20px;
}

#bt-cadastro{
    background-color: var(--princ-bg-color);
    border-radius: 20px;

    height: 20px;
}

#conteudo_principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#conteudo_principal h1{
    color: #FFF;
    font-family: PoetsenOne;
    font-size: 70px;
    font-weight: 400;
    margin: 0px;
}

#peca-text{
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
}

#text_principal{
    text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.30);
}

#conteudo_principal h2{
    color: rgba(255, 255, 255, 0.80);
    font-family: PoetsenOne;
    font-size: 32px;
    font-weight: 400;
}

#botoes_principal{
    display: flex;
    padding: 33px 0px;
    justify-content: center;
    align-items: center;
}

#saiba{
    display: flex;
    width: 146px;
    height: 61px;
    padding: 9px 33px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 18.403px;
    font-weight: 700;
}

#comprar{
    display: flex;
    width: 106px;
    height: 40px;
    padding: 9px 33px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--secun-bg-color);
    border-radius: 20px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: 700;
}

#qrdLaranja{
    height: 670px;

    border-radius: 59px 0px 0px 59px;
    box-shadow: 10px 15px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--secun-bg-color);

    z-index: -1;
}

#conteudo{    
    padding: 100px;
}