:root{
    --princ-bg-color:#013C31;
    --secun-bg-color: #FE7411;
    --text-color: #fff;
}

@font-face {
    font-family: PoetsenOne;
    src: url(PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

body{
    background-color: var(--princ-bg-color);
    
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-family: Inter;
}

header{
    display: flex;
    padding: 20px 42px;
    justify-content: space-between;
    align-items: center;
}

#logos{
    display: flex;
    align-items: center;
    gap: 21px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

ul a{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    padding: 6px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#bt-login{
    border: 2px solid var(--text-color);
    border-radius: 20px;
}

#bt-cadastro{
    background-color: var(--secun-bg-color);
    border-radius: 20px;

    height: 20px;
}

#conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conteudo_principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: -8%;
    margin-left: 5%;
}

#conteudo_principal h1{
    color: var(--text-color);
    font-family: PoetsenOne;
    font-size: 70px;
    font-weight: 400;
    margin: 0px;
}

#peca-text{
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
}

#text_principal{
    text-shadow: 10px 5px 4px rgba(0, 0, 0, 0.30);
}

#conteudo_principal h2{
    color: rgba(255, 255, 255, 0.80);
    font-family: PoetsenOne;
    font-size: 32px;
    font-weight: 400;
}

#botoes_principal{
    display: flex;
    padding: 33px 0px;
    justify-content: center;
    align-items: center;
}

#saiba{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 146px;
    height: 61px;

    gap: 12px;

    border-radius: 27px;
    border: 0 none;
    background-color: var(--text-color)fff00;

    color: var(--text-color);
    text-shadow: 0px 3px 78.6px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;

    transition: all 0.3s ease-in-out;
}

#saiba:hover{
    cursor: pointer;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

#comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 146px;
    height: 61px;
    
    padding: 8px 33px;
    gap: 12px;

    border-radius: 27px;
    border: 0 none;
    background-color: var(--secun-bg-color);
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);

    color: var(--text-color);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;

    transition: all 0.3s ease-in-out;
}

#comprar:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#qrdLaranja{
    width: 850px;
    height: 850px;

    border-radius: 59px 0px 0px 59px;
    box-shadow: 10px 15px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--secun-bg-color);

    display: flex;
    justify-content: center;

    z-index: -1;
}